<div class="jumbotron">
    <div class="container">
        
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Login</h2>

                <form [formGroup]="loginForm" (ngSubmit)="OnSubmitt()">
                    <!--login id-->
                    <div class="form-group">
                        <label>Login ID</label>
                        <input type="text" formControlName="id" class="form-control" [ngClass]="{'is-invalid': submitted && f['id'].errors}"/>
                        <div *ngIf="submitted && f['id'].errors">
                            <div *ngIf="submitted && f['id'].errors['required']">
                                Login ID  is required and Can't Be Empty
                            </div>
                        </div>
                    </div>

                    <!--mobile number-->

                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" formControlName="mobileno" class="form-control" [ngClass]="{'is-invalid': submitted && f['mobileno'].errors}"/>
                        <div *ngIf="submitted && f['mobileno'].errors">
                            <div *ngIf="submitted && f['mobileno'].errors['required']">
                                Mobileno Can't Be Empty
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary">Login</button>

                    </div>
                </form>
            </div>
        </div>

    </div>
    
    
</div>
