<table class="table">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Citizen Login Id</th>
            <th scope="col">Citizen Name</th>
            <th scope="col">Citizen Date Of Birth</th>
            <th scope="col">Citizen Address</th>
            <th scope="col">Citizen Email ID</th>
            <th scope="col">Citizen Mobile Number</th>
            <th scope="col">Citizen Gender</th>
            <th scope="col">Request</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allRequests">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.dob }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.emailid }}</td>
            <td>{{ item.mobileno }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.request }}</td>
            <td>
              <button type="button" (click)="openDeleteModal(item.id)" class="btn btn-danger">Decline Request</button>
            </td>
          </tr>          
        </tbody>
      </table>
    </div>
  </table>
  <br>

  <h1 align="center"><a class="btn btn-primary btn-lg" [routerLink]="['/adminhome']">Go Back To Homepage</a></h1> <br>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Are you sure to delete the item?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
    </div>
  </div>
</div>
</div>